#draggable {
    cursor: move;
    position: absolute;
    top: 113px;
    left:100px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #03a9f4;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
.painted {
    background-color: #03a9f4;
    color: #fff;
}

#draggable.hollow
{
    cursor: default;
    background: #ececec;
}

#droptarget
{
    height: 200px;
    width: 200px;
    font-size: 14px;
    border-radius: 50%;
    text-align: center;
    line-height: 200px;
    margin: 0 0 0 250px;
    cursor: default;
    border: 1px solid #999;
    top: 10px;
}

.demo-section
{
    width: 500px;
    position: relative;
}
.box
{
    width: 500px;
}
